@import '../../scss-own-ibrary/scss/main.scss';

.about{
  
    background-color: $white-dark;
    .about-grid{
        display: grid;
        @include col-condition(12);
        @include row();
        min-height: 70vh;
        @include py(calrem(8*8));
        grid-gap: calrem(32);
        @include between();
        @include middle();
        .item-image{
            @include col('md',5);
            .img{

                height: 80vh;
                @include respond-below(md){
                    
                height: auto
                }
                overflow: hidden;
                border-radius: calrem($button-border-radus)
            }
        }
        .item-text{
            
            @include col('md',"auto");
        
           
              h3{
                @include my(calrem(16));
              }

            h2{
                color: $black-dark;
                @include my(calrem(16));
            }

            
           
            .sub-text-wrap{
                display: grid;
                @include row();
                @include col-condition(12);
                grid-gap: calrem(16);
                @include  middle();
                .item{
                    @include col('xs','auto');
                }
            }

        }
    }
}