$primary-red:#B3261E;
$primary-red-opacity:#b3261e74;
$white:white;
$white-dark:#F6F6F6;
$black-dark:#000000;
$black-dark-opacity: rgba(49, 48, 51, 0.081);;
$black-light:#333333;
$box-shadow-2-penumbra:0px 3px 4px rgba(0, 0, 0, 0.12);
$box-shadow-2-upbra:0px 2px 4px rgba(0, 0, 0, 0.14);
$main-margin-sm:8;
$main-margin-md:14;
$main-margin-lg:32;
$button-border-radus:4;
$card-padding-sm:16;
$card-padding-md:24;
$card-padding-lg:40;
$section-gap:64;
$section-padding:32;
$icon-size:24;
$base-value:8;

